*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: aliceblue;
}
header{
    display: flex;
    align-items: center;
    padding:0.3rem 0.8rem;
    font-size:1.5rem;
    background-color: aliceblue;
    width:100%;

}
#logo{
    height:5rem;
    width:10%;
    font-size: 30px;
    font-weight: 550;
    margin-left: 2rem;
    padding-top:24px;
    color:rgb(93, 93, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
nav{
    width:100%;
    margin-left:15rem;
    display:flex;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    color:black;
}
.home{
    background-image: url('women\ empowerment1.avif');
    height: 40rem;
    padding-top:1rem;
    background-size: cover;
}
.text{ 
    
}
.title{
    font-size: 4rem;
    font-weight: 550;
    color:rgb(93, 93, 237);
    display: flex;
    padding-left:5.3rem;
    margin:1rem;
}
.cont {
    font-size: 2rem;
    font-weight: 430;
    color: black;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    padding-left:5.5rem;
   
}
.steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .step {
    text-align: center;
    width: 20%;
    height:15rem;
    border: 1px solid #aba8a8;
    padding: 2rem;
    margin: 10px;
    margin-left:5rem;
    color:rgb(100, 110, 221);
    font-weight: bold;
    font-size:1.3rem;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
  
  .step img {
    max-width: 80px;
    max-height: 80px;
    margin: 10px auto;
    display: block;
  }
  
  .t1 {
    font-weight: bold;
    margin-top: 10px;
    color:black;
    font-size:1.3rem;
  }
  .jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:5rem;
    margin-right:10rem;
    border-color: black;
    border-width: 2px;
  }
  
  .jobs {
    height: 5rem;
    width: 80%; /* Adjust the width as needed */
    color:rgb(100, 110, 221); 
    background-color:rgba(179, 181, 181, 0.5);
    padding: 0.5rem;
    padding-left:3rem;
    border-radius: 7px;
    
    margin: 0.5rem 0.375rem; /* Adjust margins as needed */
    font-size: 1.6rem;
    display: flex;
    align-items: center;
  }
  
  .button {
    height: 5rem;
    padding: 0.5rem;
    border-radius: 7px;
    font-size: 1.6rem;
    color: rgb(8, 8, 8);
    background-color: rgb(100, 110, 221,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
    padding-right:3rem;
  }

  .contact{
    margin-top:5.5rem;
    height:15rem;
    width:100%;
    background-color: rgb(76, 75, 75);
    color:white;
   
    padding-top:1.2rem;
    
    justify-content: center;
  }
  .c1{
    font-size: 2rem;
    text-align: center;
  }
  .c2{
    margin-left:5rem;
    margin-top: 3rem;
  }
  .c3{
    margin-left:5rem;
    margin-top: 0.5rem;
  }
  