*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: aliceblue;
}
header{
    display: flex;
    align-items: center;
    padding:0.3rem 0.8rem;
    font-size:1.5rem;
    background-color: aliceblue;
    width:100%;

}
#logo{
    height:5rem;
    width:10%;
    font-size: 30px;
    font-weight: 550;
    margin-left: 2rem;
    padding-top:24px;
    color:rgb(93, 93, 237);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
nav{
    width:100%;
    margin-left:15rem;
    display:flex;
    justify-content: space-evenly;

}
a{
    text-decoration: none;
    color:black;
}
.a{
  font-size:3rem;
    font-weight: bold;
    color: rgb(19, 19, 237);
   margin:0rem;
    justify-content: center;
    height:70px;
    width:100%;
    background-color: rgb(198, 198, 253);
    border-radius: 5px;
    text-align: center;
}
.b{
  display: flex;
  justify-content: space-evenly;
  margin:2rem;
}
.b1{
  height: 29rem;
  width:33rem;
  background-color: rgb(253, 251, 251);
  border:2px solid black;
  border-radius: 5px;
}
.img1{
  height:8rem;
  width:12rem;
  background-image: url("t3.avif");
  background-size: cover;
  margin:2rem;
}
.img2{
  height:8rem;
  width:12rem;
  background-image: url("coding.avif");
  background-size: cover;
  margin:2rem;
}
.img3{
  height:8rem;
  width:12rem;
  background-image: url("softskills.avif");
  background-size: cover;
  margin:2rem;
}
.img4{
  height:8rem;
  width:12rem;
  background-image: url("career.avif");
  background-size: cover;
  margin:2rem;
}
.d1{
  font-size:2rem;
  font-weight: bold;
  color: rgb(19, 19, 237);
 margin:2rem;
  justify-content: center;
}
.d2{
  font-size:1.3rem;
  font-weight: bold;
  color: rgb(8, 8, 8);
 margin:2rem;
  justify-content: center;
}
.d3{
  font-size:1.3rem;
  font-weight: bold;
  color: rgb(8, 8, 8);
 margin:2rem;
  justify-content: center;
}
.d5{
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
}
.d4{
  height:3.3rem;
  width:7.5rem;
  background-color: rgb(192, 192, 244);
  border-radius: 5px;
  border:2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left:2rem;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 3rem;
}

.contact{
    margin-top:5.5rem;
    height:15rem;
    width:100%;
    background-color: rgb(76, 75, 75);
    color:white;
   
    padding-top:1.2rem;
    
    justify-content: center;
  }
  .c1{
    font-size: 2rem;
    text-align: center;
  }
  .c2{
    margin-left:5rem;
    margin-top: 3rem;
  }
  .c3{
    margin-left:5rem;
    margin-top: 0.5rem;
  }